.comic-wrapper{
    width: 100%;
}
.comic-list{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    row-gap: 25px;
    flex-wrap: wrap;
    padding-top: 25px
}
.comic-card{
    width: 32%
}

.not-found{
    color: var(--common-color);
    font-size: 22px;
    width: 100%;
    text-align: center;
}

